@import url('base/typography.css');
@import url('layouts/navbar.css');
@import url('widgets/input-field-group.css');

body {
    min-height: 100vh;
}


.container {
    max-width: 88em;
    margin: 0 auto;
    padding: calc(var(--padding) * 2.2);
}


