.input-field-group {
    position: relative;

    i {
        position: absolute;
        padding: 1px 6px;
    }

    input {
        border: 1px solid var(--border);
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 4px;
        transition: border-color 0.3s ease;
    }
}